.countriesApi {
  & .countriesItem {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
  }
  & .blockData {
    border: 1px solid green;

    & img {
      padding: 5px 50px 0 50px;
      width: 300px;
      height: 150px;
    }
  }
}
