.signup {
  & .signupSection {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 10px;
  }
}

@media (max-width: 990px) {
  .signImg {
    display: none;
  }
}
