.twitterClone {
  & hr {
    border: 1px solid green;
  }
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  & .twitterCloneBlock {
    position: relative;
    padding-top: 50px;
    border-radius: 7px;
  }

  & .text {
    width: 100%;
    padding: 15px;
    background-color: #fcf8f3;
    color: #697a89;
    resize: none;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  & .text:hover {
    box-shadow: 2px 2px 5px 3px rgba(70, 153, 185, 0.5);
  }
  & .text::placeholder {
    font: 23px sans-serif;
  }

  & .sizePost {
    position: absolute;
    color: #44a2f2;
    font-size: 26px;
    right: 0;
  }
  & .btnTwitter {
    min-width: 100px;
    height: 35px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    display: inline;
    background-color: #44a2f2;
    margin: 60px 5px 0 10px;
  }
}

.msgUsers {
  color: black;
  //Header
  & .msgUsersHeader {
    display: flex;
    justify-content: space-evenly;
    & img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    & .userName {
      font-family: "Roboto Slab";
    }
    & p {
      color: #697a89;
    }
  }
  & .mainMsg {
    font-size: 1.25rem;
    letter-spacing: 1.25px;
    font-family: "Poppins", serif;
  }
  //center
  & .center i {
    margin: 0 5px 0 5px;
    color: #44a2f2;
    cursor: pointer;
  }
  & .center i:hover {
    color: #1be725;
  }
  & .center i:nth-child(2):hover {
    color: #e71b25;
  }
  //footer
  & .msgUsersFooter {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    & .left i {
      margin: 0 5px 0 5px;
      color: #44a2f2;
      cursor: pointer;
    }
    & .left i:hover {
      color: #e7441b;
    }
  }
}
