* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  grid-area: header;
  background-color: #fed330;
}
article {
  grid-area: content;
  min-height: 725px;
  color: white;
  background-color: black;
}
aside {
  grid-area: sidebar;
  min-height: 725px;
  background-color: #45aaf2;
}
footer {
  grid-area: footer;
  background-color: #fd9644;
}
.App {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "header  header"
    "sidebar content"
    "footer  footer";
  & .arrowUp {
    position: fixed;
    right: 20px;
    bottom: 10px;
    font-size: 30px;
    color: rgb(220, 243, 18);
  }
  & .arrowUp:hover {
    cursor: pointer;
    color: rgb(165, 172, 103);
  }
}

@media (max-width: 500px) {
  .App {
    grid-template-columns: 4fr;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }
  article {
    min-height: auto;
  }
  aside {
    min-height: auto;
  }
}
