* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  grid-area: header;
  background-color: #fed330;
}
article {
  grid-area: content;
  color: white;
  background-color: black;
}
aside {
  grid-area: sidebar;
  background-color: #45aaf2;
}
footer {
  grid-area: footer;
  background-color: #fd9644;
}
.App {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "header  header"
    "sidebar content"
    "footer  footer";
}
@media (max-width: 500px) {
  .App {
    grid-template-columns: 4fr;
    grid-template-areas:
      "header"
      "content"
      "sidebar"
      "footer";
  }
}
